@page "{handler?}/{id?}"
@model NHCM.WebUI.Pages.Organogram.ConfirmModel
@{
    Layout = null;
}



<div class="panel panel-flat" style="direction: rtl;">
    <div class="panel-heading">
        <h1 class="panel-title">آیا تشکیل ذیل را تایید مینمائید</h1>
    </div>

    <div class="panel-body" style="padding-bottom:5px;">
        <legend class="text-bold"></legend>

        <form id="dv_Organogram_Confirm" class="form sub-form page-component" type="form" prefix="cp" parent="dv_Organogram_Plan" parentcol="ID">


            @*<input type="text" id="cpTemp" name="poTemp" />*@
            <div class="row div-form-control">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-right"></i>ثبت معلومات</button>
                    </div>
                </div>
            </div>
            <div class="form-grid">
                <table style="direction: rtl;" bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="OrganizationText">موسسه</th>
                            <th colname="TitleText">عنوان </th>
                            <th colname="Year"> سال</th>
                            <th colname="NumberOfPositions">تعداد بست</th>
                            <th colname="statustext">حالت</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </div>
</div>

