@page "{handler?}/{id?}"
@model NHCM.WebUI.Pages.Organogram.OrganogramChartModel
@{
    ViewData["Title"] = "OrganogramChart";
    Layout = null;
}
<style type="text/css">
   

    #people {
        width: 100%;
        height: 100%;
    }

    .get-text {
        fill: #686868 !important;
    }

    .myCustomTheme-box {
        fill: #FFFFFF;
        stroke: #DDDAB9;
    }

    .reporters {
        fill: #0072C6;
    }

    .reporters-text {
        fill: #ffffff;
    }
</style>

<div>
    <div id="people"></div>

    <script type="text/javascript">
        getOrgChart.themes.myCustomTheme =
            {
                size: [270, 400],
                toolbarHeight: 46,
                textPoints: [
                    { x: 130, y: 50, width: 250 },
                    { x: 130, y: 90, width: 250 }
                ],
                textPointsNoImage: [
                    { x: 130, y: 50, width: 250 },
                    { x: 130, y: 90, width: 250 }
                ],
                expandCollapseBtnRadius: 20,
                defs: '<filter id="f1" x="0" y="0" width="200%" height="200%"><feOffset result="offOut" in="SourceAlpha" dx="5" dy="5" /><feGaussianBlur result="blurOut" in="offOut" stdDeviation="5" /><feBlend in="SourceGraphic" in2="blurOut" mode="normal" /></filter>',
                box: '<rect x="0" y="0" height="400" width="270" rx="10" ry="10" class="myCustomTheme-box" filter="url(#f1)"  />',
                text: '<text text-anchor="middle" width="[width]" class="get-text get-text-[index]" x="[x]" y="[y]">[text]</text>',
                image: '<clipPath id="getMonicaClip"><circle cx="135" cy="255" r="85" /></clipPath><image preserveAspectRatio="xMidYMid slice" clip-path="url(#getMonicaClip)" xlink:href="[href]" x="50" y="150" height="190" width="170"/>',
                reporters: '<circle cx="80" cy="190" r="20" class="reporters"></circle><text class="reporters-text" text-anchor="middle" width="100" x="80" y="195">[reporters]</text>'

                //ddddd: '<text x="0" y="0">1</text>'
            };


        var peopleElement = document.getElementById("people");
        var orgChart = new getOrgChart(peopleElement, {
            theme: "myCustomTheme",
            enableGridView: true,
            primaryFields: ["name", "title", "phone", "mail"],
            photoFields: ["image"],
            renderNodeEvent: renderNodHandler,
            dataSource: [
                { id: 1, parentId: null, name: "Amber McKenzie", title: "CEO", phone: "678-772-470", mail: "lemmons@jourrapide.com", adress: "Atlanta, GA 30303", image: "images/f-11.jpg" },
                { id: 2, parentId: 1, name: "Ava Field", title: "Paper goods machine setter", phone: "937-912-4971", mail: "anderson@jourrapide.com", image: "images/f-10.jpg" },
                { id: 3, parentId: 1, name: "Evie Johnson", title: "Employer relations representative", phone: "314-722-6164", mail: "thornton@armyspy.com", image: "images/f-9.jpg" },
                { id: 4, parentId: 1, name: "Paul Shetler", title: "Teaching assistant", phone: "330-263-6439", mail: "shetler@rhyta.com", image: "images/f-5.jpg" },
                { id: 5, parentId: 2, name: "Rebecca Francis", title: "Welding machine setter", phone: "408-460-0589", image: "images/f-4.jpg" },
                { id: 6, parentId: 2, name: "Rebecca Randall", title: "Optometrist", phone: "801-920-9842", mail: "JasonWGoodman@armyspy.com", image: "images/f-8.jpg" },
                { id: 7, parentId: 2, name: "Spencer May", title: "System operator", phone: "Conservation scientist", mail: "hodges@teleworm.us", image: "images/f-7.jpg" },
                { id: 8, parentId: 6, name: "Max Ford", title: "Budget manager", phone: "989-474-8325", mail: "hunter@teleworm.us", image: "images/f-6.jpg" },
                { id: 9, parentId: 7, name: "Riley Bray", title: "Structural metal fabricator", phone: "479-359-2159", image: "images/f-3.jpg" },
                { id: 10, parentId: 7, name: "Callum Whitehouse", title: "Radar controller", phone: "847-474-8775", image: "images/f-2.jpg" }
            ]
        });

        function renderNodHandler(sender, args) {
            for (var i = 0; i < args.content.length; i++) {
                if (args.content[i].indexOf("[reporters]") != -1) {
                    args.content[i] = args.content[i].replace("[reporters]", args.node.children.length);
                }
            }
        }
    </script>
</div>
@*<div class="panel panel-flat">
        <div class="panel-heading">
            <h1 class="panel-title">جارت تشکیل</h1>
        </div>

        <div class="panel-body" style="padding-bottom:5px;">
            <form id="dv_Organogram_OrganogramChart" class="form sub-form page-component" type="form" prefix="po" parent="dv_Organogram_OrganogramControll" parentcol="OrganoGramId">

            </form>
        </div>
    </div>*@

