@page "{handler?}/{id?}"
@model NHCM.WebUI.Pages.Organogram.PositionsModel

@{
    Layout = null;
}

 
<div class="panel panel-flat" style="direction: rtl;">
    <div class="panel-heading">
        <h1 class="panel-title">جزئیات تشکیل</h1>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">
        <form id="dv_Organogram_Positions" class="form sub-form page-component" type="form" category="modal" prefix="po" parent="dv_Organogram_Plan" parentcol="OrganoGramId" onInit="fnOnInit">
            <div class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="panel panel-flat" style="direction: rtl;">
                            <div class="panel-heading">
                                <h1 class="panel-title">ثبت و تغیر بست های تشکیل</h1>
                            </div>
                            <div class="panel-body" style="padding-bottom:5px;">
                                <fieldset class="content-group">
                                    <legend class="text-bold">برای ثبت و تغیر بست های تشکیل از فورم ذیل استفاده کنید</legend>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                                            <div class="form-group">
                                                <label class="text-bold">
                                                    کود بست
                                                    <span class="text-danger">&nbsp;*</span>
                                                </label>
                                                <input id="pocode" name="poCode" type="text" class="form-control " required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                                            <div class="form-group has-feedback has-feedback-left">
                                                <label class="text-bold">
                                                    نوع وظیفه
                                                    <span class="text-danger">&nbsp;*</span>
                                                </label>
                                                <select id="popositiontypeid" name="poPositionTypeId" type="text" class="select search" data-type="positions" required>
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 pull-right">
                                            <div class="form-group has-feedback has-feedback-left">
                                                <label class="text-bold">
                                                    ساحه کاری/بخش مربوطه
                                                    <span class="text-danger">&nbsp;*</span>
                                                </label>
                                                <select id="poworkingareaid" name="poworkingareaid" asp-items="@Model.ListOfWorkAreas" type="text" class="select search" required>
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class=" row">
                                        <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                                            <div class="form-group">
                                                <label class="text-bold">
                                                    نوع تغیر
                                                    <span class="text-danger">&nbsp;*</span>
                                                </label>
                                                <select id="poplantypeid" name="poPlanTypeId" asp-items="@Model.ListOfPlanType" class="select">
                                                    <option></option>
                                                </select>
                                            </div>


                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                                            <div class="form-group">
                                                <label class="text-bold">
                                                    رتب معاش
                                                    <span class="text-danger">&nbsp;*</span>
                                                </label>
                                                <select id="posalarytypeid" name="poSalaryTypeId" asp-items="@Model.ListOfSalaryType" class="select ">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                                            <div class="form-group">
                                                <label class="text-bold">
                                                    محل
                                                    <span class="text-danger">&nbsp;*</span>
                                                </label>
                                                <select id="polocationid" name="poLocationId" asp-items="@Model.ListOfLocations" class="select " required>
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </fieldset>
                                <div class="row div-form-control">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-right"></i>ثبت معلومات</button>
                                            <button type="button" class="btn btn-primary" action="search" showongrid="true"><i class="icon-search4 position-right"></i>نمایش تمام تشکیل </button>
                                            <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-right"></i>صفحه جدید </button>
                                            <button type="button" class="btn btn-link close-bttn" data-dismiss="modal"><i class="icon-close2 position-right"></i>صرف نظر</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="div-grid-control" style="display:none;">
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);" class="grid-action" action="update"><i class="icon-pencil7"></i>نمایش جزئیات و تغیر</a></li>
                                        <li class="divider"></li>
                                        <li class="toggle"><a href="javascript:void(0);" class="grid-action" action="neighbour"><i class="icon-lan"></i>ثبت و راجستر هم سطح</a></li>
                                        <li><a href="javascript:void(0);" class="grid-action" action="child"><i class="icon-tree7"></i>ثبت و راجستر مادون</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0);" class="grid-action" action="remove"><i class="icon-cross3"></i>حذف بست</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-grid">
                <table style="direction: rtl;" type="treetable" fullheight="true" filter="true" ignoreinitialformbind="true">
                    <thead>
                        <tr>
                            <th colname="PositionTypeText">نوع وظیفه</th>
                            <th colname="OrgUnitText">واحد اداری</th>
                            <th colname="WorkAreaText">بخش مربوطه/ساحه کاری</th>
                            <th colname="PlanTypeText">نوع ایجاد</th>
                            <th colname="RankText">بست</th>
                            <th colname="Code">کود بست</th>
                            <th colname="SalaryTypeText">نوع معاش</th>
                            <th colname="LocationText">موقعیت</th>
                            <th colname="Action">تغیرات/عملیات</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<script>
    window["fnOnInit"] = function () {

    }
</script>
