@page "{handler?}/{id?}"
@model NHCM.WebUI.Pages.Lookups.WorkAreaModel
@{
    ViewData["Title"] = "WorkArea";
    Layout = "~/Pages/Shared/_CustomLayout.cshtml";
}

@Html.AntiForgeryToken()
<div class="panel-heading">
    <h1 class="panel-title">ثبت ساحه کاری</h1>
</div>
<div class="panel-body" style="padding-bottom:5px;">
    <form id="dv_Lookups_WorkArea" class="form main-form page-component" type="form" prefix="wa">
        <fieldset class="content-group">
            <legend class="text-bold">برای ثبت  ساحه کاری لطفاً از فورم ذیل استفاده نمائید</legend>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div class="form-group has-feedback has-feedback-left">
                        <label class="text-bold">
                            عنوان بخش مربوط
                            <span class="text-danger">&nbsp;*</span>
                        </label>
                        <input id="watitle" name="watitle" type="text" class="form-control search" required />
                        <div class="form-control-feedback">
                            <i class="icon-search4 text-size-base"></i>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
                    <div class="form-group has-feedback has-feedback-left">
                        <label class="text-bold">
                            نام انگلیسی
                            <span class="text-danger">&nbsp;*</span>
                        </label>
                        <input id="watitleeng" name="watitleeng" type="text" class="form-control search" required />
                    </div>
                </div>
            </div> 
            <hr />
            <div class="row div-form-control">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-right"></i>ثبت معلومات</button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-right"></i>جستجو </button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-right"></i>صفحه جدید</button>
                    </div>
                </div>
            </div>
            <div class="form-grid">
                <table style="direction: rtl;" bindonclick="true" filter="true">
                    <thead>
                        <tr>
                            <th colname="Title">عنوان بخش مربوط</th>
                            <th colname="TitleEng">نام انگلیسی</th> 
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>



