@page
@model NHCM.WebUI.Pages.Security.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Pages/Security/Shared/_SecuritySharedLayout.cshtml";
}

<h2>ChangePassword</h2>

