@page
@model NHCM.WebUI.Pages.Security.InitialPasswordChangeModel
@{
    ViewData["Title"] = "InitialPasswordChange";
    Layout = "~/Pages/Security/Shared/_SecuritySharedLayout.cshtml";
}

<h4>
    تعغیر رمز عبورد
</h4>
