@page "{handler?}"
@model NHCM.WebUI.Pages.Employment.CardModel
@{
    ViewData["Title"] = "Card";
    Layout = "~/Pages/Shared/_CustomLayout.cshtml";
}


@Html.AntiForgeryToken()

<div class="panel-body">
    <div class="row">
        <div class="col-md-12 pull-right">
            <form id="dv_Employment_Card" class="form main-form page-component" type="form" prefix="ux">

                <fieldset class="content-group">
                    <legend>جهت تنظیم کارت هویت کارمند از این فورم استفاده نمایید</legend>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    کارمند
                                </label>

                                <select id="uxpersonid" name="uxPersonID" asp-items="@Model.ListOfPerson" class="select search" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    تاریخ انقضا
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxvaliduptoShamsi" name="uxvalidUptoShamsi" class="form-control Shamsi" sibling="uxdvalidupto" placeholder="تارخ تولد شمسی" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group">
                                <label class="text-bold">
                                    معادل
                                    <span class="text-danger">&nbsp;*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                    <input type="text" id="uxvalidupto" name="uxvalidupto" class="form-control Miladi" sibling="uxdobshamsi" placeholder="تاریخ تولد میلادی" required />
                                </div>
                            </div>
                        </div>


                    </div>


                </fieldset>
                <div class="row div-form-control">
                    <div class="col-md-12">
                        <div class="form-group actions">
                            <button type="button" action="save" class="btn btn-primary"><i class="icon-floppy-disk position-right"></i>تنظیم کارت</button>
                            <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-right"></i>جستجو </button>
                        </div>
                    </div>
                </div>


                @*<div class="form-grid main-form-details">
                    <table style="direction:rtl" bindonclick="true">
                        <thead>
                            <tr>
                                <th colname="username"></th>
                                <th colname="employeename"></th>
                                <th colname="organizationtext"></th>


                            </tr>
                        </thead>
                    </table>
                </div>*@
            </form>
        </div>
    </div>
</div>

