@page "{handler?}/{id?}"
@model NHCM.WebUI.Pages.Recruitment.PersonRelativeModel
@{

    Layout = null;

}


<div class="panel panel-flat" style="direction: rtl;">
    <div class="panel-heading">
        <h1 class="panel-title">شهرت اقارب</h1>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">
        
        <form id="dv_Recruitment_Relative" class="form sub-form page-component" attachment="true" type="form" prefix="uxrl" parent="dv_Recruitment_Person" parentcol="PersonID">
            
            <fieldset class="content-group">
                <legend class="text-bold">لطفاً شهرت اقارب کارمند را در فورم ذیل درج نمائید</legend>
                <div class="row">

                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                نام
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxrlfirstname" name="uxfirstname" type="text" class="form-control" required />

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                تخلص
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxrllastname" name="uxlastname" type="text" class="form-control" required />

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                نام پدر
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxrlfathername" name="uxfathername" type="text" class="form-control" required />

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                نام پدر کلان
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxrlgrandfathername" name="uxgrandfathername" type="text" class="form-control" required />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                رابطه
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxrlrelationshipid" name="uxrlRelationshipid" asp-items="@Model.ListOfRelationShip" class="select" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                نمبر تلفون
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxrlcontactinfo" name="uxrlcontactinfo" type="text" class="form-control" required />

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                آدرس ایمیل
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxrlemailaddress" name="uxrlemailaddress" type="text" class="form-control" required />

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                        <div class="form-group">
                            <label class="text-bold">
                                شغل/پیشه
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxrlprofession" name="uxrlprofession" type="text" class="form-control" required />
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-right"></i>ثبت معلومات</button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-right"></i>جستجو </button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-right"></i>صفحه جدید </button>

                    </div>
                </div>
            </div>
            <div class="form-grid">
                <table style="direction: rtl;" bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="firstname">نام</th>
                            <th colname="lastname">تخلص</th>
                            <th colname="fathername">نام پدر</th>
                            <th colname="grandfathername">نام پدر کلان</th>
                            <th colname="RelationShipIdText">رابطه</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </form>
    </div>
</div>


